$primaryColor: #B9CE8B;
$secondaryColor: #d0daef;
$accentColor: #4c51a2;
$primaryColorDark: #98a74a;
$primaryColorLight: #ecf9d9;
$secondaryColorDark: #859fd6;
$secondaryColorLight: #f4f6fb;
$black: #1b1e21;
$darkGrey: #7f7f7f;
$lightGrey: #d3d3d3;
$white: #ffffffff;
$error: #ec4c4c;
$success: #74b455;
$alert: #5fb0c9;