@import "../../../colors";

nav.MainNavigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  align-items: center;
  box-shadow: 0 12px 12px $secondaryColorDark;
  height: 93px;
  a {
    width: 15%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: $black;
    h4 {
      font-size: 14px;
      font-weight: 200;
    }
    &:first-of-type, a.last-of-type {
      flex-flow: row;
      img {
        max-width: 100%;
        max-height: 70px;
        
      }
    }
    &.public {
      margin-left: auto;
    }
    &.active {
      color: $secondaryColorDark;
      h4{
        font-weight: bold !important;
      }
      
    }
    img {
      max-width: 100%;
      align-self: flex-start;
      margin-left:12px;
      max-height: 50px;
    }
  }
  span {
    cursor:pointer;
    width: 15%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: $black;
    h4 {
      font-size: 14px;
      font-weight: 200;
    }
    &:first-of-type, a.last-of-type {
      flex-flow: row;
      img {
        max-width: 100%;
        max-height: 70px;
        
      }
    }
    &.public {
      margin-right: auto;
    }
    img {
      max-width: 100%;
      align-self: flex-start;
      margin-left:12px;
      max-height: 50px;
    }
  }
}
ul.ProfileLinks{
  background: white;
  padding: 12px;
  margin: -12px;
  border-radius: 3px;
  position: fixed;
  box-shadow: 0 0 3px $accentColor; 
  left: 68.5%;
  z-index: 3;
  >li{
    margin-bottom: 6px;
  }
  >li >a{
    color: $black;
    margin-bottom: 6px;
  }
}
