@import '../../../colors';

nav.MainNavigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 12px 12px $secondaryColorDark;
    height: 93px;
    a{
        width: 10%;
        text-decoration: none;
        color: $black;
        h4{
            font-size: 14px;
            font-weight:200;
        }
        img{
           height: 50px;
        }
    }
}