@import "../../../colors";
main.Match {
  display: flex;
  overflow:hidden;
    img{
      z-index: 0;
      position: absolute;
      top: 93px;
      left: 0;
      width: 100vw;
    }
  > div.wrapper {
    margin-top: 256px;
    height: 375px;
    z-index: 1 !important;
    background: $secondaryColorLight;
    border-radius: 12px;
    flex-flow: column;
    align-items:center;
    > * {
      text-align: center;
    }
    > p{
        font-size: 18px;
        &:last-of-type{
            margin-bottom: 48px;
        }
    }
    >h3 > span{
        text-transform: uppercase;
        font-weight: 500;
        color: $accentColor;
    }
    >span.Border{
        width: 75%;
        border-bottom: 2px dashed $black;
    }
  }
}
