@import "../../../colors";
main.Profile {
  > div.wrapper {
    flex-flow: column;
    align-items: center;
    > h2 {
      text-transform: uppercase;
      font-weight: 300;
    }
    h4 {
      text-align: center;
    }
  }
  > div.wrapper {
    flex-flow: column;
    align-items: flex-start;
    > h3 {
      margin-bottom: 6px;
      border-bottom: 2px solid $primaryColor;
      width: 15%;
      font-weight: 500;
    }
    section > h3 {
      margin-bottom: 6px;
      border-bottom: 2px solid $primaryColor;
      width: 100%;
      font-weight: 500;
    }
    > form {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      width: 65%;
      background: $secondaryColorLight;
      padding: 48px;
      border-radius: 12px;
      margin: 24px 0;
      textarea {
        font-size: 24px;
        display: block;
        resize: none;
        width: 100%;
        height: 100px;
        font-family: inherit;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .row {
        width: 100%;
        display: flex;
      }
      div.input {
        display: flex;
        flex-flow: column;
        width: 95%;
        background: white;
        margin: 12px;
        padding: 12px;
        border-radius: 12px;

        &.gender {
          flex-flow: row;
          justify-content: space-around;
          align-items: center;
          > div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          input,
          label {
            display: inline-flex;
            font-size: 20px;
          }
          input[type="radio"] {
            height: 36px;
            width: 36px;
          }
        }
      }
      textarea {
        font-family: inherit;
        border: none;
        border-radius: 12px;
        margin: 12px;
        padding: 12px;
        width: 94.5%;
        height: 200px;
        resize: none;
        font-size: 24px;
        &::placeholder {
          color: $secondaryColorDark;
        }
      }
      div.input.file {
        position: relative;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            height: 45px;
            width: 35%;
            margin: 12px;
            margin-right: 0;
            text-transform: uppercase;
            color: $white;
            font-weight: bold;
            font-family: inherit;
            background: $accentColor;
            border: none;
            border-radius: 12px;
            align-self: flex-end;
          }
        }
        input[type="file"] {
          margin-top: 36px;
          opacity: 0;
          position: absolute;
          z-index: 2;
        }
        input[type="text"] {
          border: 1px solid $black;
          height: 24px;
          width: 45%;
          font-size: 16px;
          text-align: center;
        }
      }
      label {
        font-size: 20px;
      }
      input {
        font-family: inherit;
        //width: 95%;
        display: block;
        height: 64px;
        border: none;
        font-size: 24px;
        &[type="submit"] {
          height: 45px;
          width: 30%;
          margin: 12px;
        }
        &:focus {
          outline: none;
        }
      }
      &:last-of-type {
        label:last-of-type {
          position: absolute;
          padding: 12px;
          font-size: 20px;
        }
        div#_categories {
          width: 92.5%;
          margin: 6px;
          padding: 24px;
          border-radius: 12px;
          background: white;
          display: flex;
          flex-flow: column;
          > div {
            display: flex;
            justify-content: space-between;
            > div {
              width: 33%;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              input[type="checkbox"]{
                width: 20px;
                margin: 12px;
              }
              label{
                position: initial;
                font-size: 16px;
              }
            }
          }
        }
      }
      div.hoursADay {
        display: flex;
        align-items: flex-end;
        padding: 12px;
        > input {
          width: 5%;
          height: 24px;
          font-size: 24px;
          text-align: center;
          border-bottom: 2px solid $black;
        }
        > span {
          margin-left: 6px;
        }
        span:last-of-type {
          width: 70%;
          margin-left: auto;
          justify-self: flex-end;
          opacity: 0.5;
        }
      }
      div.note {
        display: flex;
        flex-flow: row;
      }
    }

    > p {
      width: 50%;
    }
    button,
    input[type="submit"] {
      font-family: inherit;
      color: $white;
      text-transform: uppercase;
      padding: 12px;
      background: $accentColor;
      border: none;
      border-radius: 12px;
      font-size: 14px;
      font-weight: bold;
    }
    > a {
      align-self: flex-end;
      margin-right: 60px;
    }
  }
  section {
    width: 100%;
  }
}
