@import "../../colors";
.img {
  background: green;
  width: 100%;
  height: 420px;
  background-image: url("https://www.macmillandictionary.com/external/slideshow/full/46528_full.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  button {
    font-weight:bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px 0 0 10px;
    padding: 12px 48px;
    padding-left: 72px;
    background: $accentColor;
    border: none;
    color: $white;
  }
}
.landing {
  background: green;
  width: 100%;
  height: 900px;
  background-image: url("https://www.macmillandictionary.com/external/slideshow/full/46528_full.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
  button {
    margin: 112px;
    font-weight:bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px ;
    padding: 12px 48px;
    background: $accentColor;
    border: none;
    color: $white;
  }
}