@import "../../colors";
nav.Secondary {
  width: 100%;
  button {
    font-family: inherit;
    width: 565px;
    height: 55px;
    border:2px solid $primaryColor;
    text-transform: uppercase;
    background: white;
    color: $primaryColor;
    transition: 0.5s;
    &:focus{
      outline: none;
    }
  }
  button.active{
    background: $primaryColor;
    color: $white;
  }
}
